.footer {
  background-color: var(--greyBg);
  padding: 2.1rem 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  color: var(--accentBlue);
  font-size: 2rem;
}

.footer-socials {
  display: flex;
  justify-content: space-evenly;
}

.footer-socialitem {
  margin: 1rem;
  list-style: none;
}

.footer-sociallink {
  color: var(--accentYellow);
  font-size: 2rem;
}


@media (min-width: 1280px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
